In [1]:
import pandas as pd

In [2]:
from janitor import clean_names

## MVP

## Joins


**Question 1**

Read in all 4 credit card transaction datasets and clean up the column names.

-    CardBase.csv
-    CustomerBase.csv
-    FraudBase.csv
-    TransactionBase.csv

In [3]:
cards = pd.read_csv("data/CardBase.csv").clean_names()
customers = pd.read_csv("data/CustomerBase.csv").clean_names()
fraud = pd.read_csv("data/FraudBase.csv").clean_names()
transactions = pd.read_csv("data/TransactionBase.csv").clean_names()

**Question 2**

Join the data containing card details and customer details by customer id, so that all records of card details and any matching records in customer details are kept.

In [6]:
cards.columns

Index(['card_number', 'card_family', 'credit_limit', 'cust_id'], dtype='object')

In [7]:
customers.columns

Index(['cust_id', 'age', 'customer_segment', 'customer_vintage_group'], dtype='object')

In [9]:
cards.merge(customers, how = "left", on = "cust_id")

,card_number,card_family,credit_limit,cust_id,age,customer_segment,customer_vintage_group
0,8638-5407-3631-8196,Premium,530000,CC67088,27,Diamond,VG1
1,7106-4239-7093-1515,Gold,18000,CC12076,48,Gold,VG3
2,6492-5655-8241-3530,Premium,596000,CC97173,22,Diamond,VG1
3,2868-5606-5152-5706,Gold,27000,CC55858,30,Diamond,VG1
4,1438-6906-2509-8219,Platinum,142000,CC90518,50,Platinum,VG2
...,...,...,...,...,...,...,...
495,4708-4407-9601-6022,Premium,691000,CC64993,34,Diamond,VG1
496,6042-2856-7280-2925,Gold,33000,CC26787,46,Platinum,VG2
497,8706-3809-5167-3899,Premium,144000,CC32532,28,Platinum,VG2
498,9540-8558-5897-5046,Premium,830000,CC90246,35,Gold,VG3
499,5587-7265-8118-7718,Gold,24000,CC37803,21,Diamond,VG1


**Question 3**

Join the data containing fraud details with transaction details so all rows of both tables are kept. What does the resulting row number tell you?

In [11]:
fraud.columns

Index(['transaction_id', 'fraud_flag'], dtype='object')

In [12]:
transactions.columns

Index(['transaction_id', 'transaction_date', 'credit_card_id',
       'transaction_value', 'transaction_segment'],
      dtype='object')

In [14]:
fraud.merge(transactions, how = "outer", on = "transaction_id")

,transaction_id,fraud_flag,transaction_date,credit_card_id,transaction_value,transaction_segment
0,CTID50558449,1.0,6-May-16,4246-1369-3659-8804,6984,SEG23
1,CTID55936882,1.0,29-Nov-16,1336-9200-1264-2551,34367,SEG21
2,CTID63762180,1.0,5-Dec-16,8528-6154-7390-5081,44550,SEG15
3,CTID76723439,1.0,15-Sep-16,7908-2695-7391-7499,48275,SEG16
4,CTID21246201,1.0,29-Feb-16,2524-4184-5908-6750,35751,SEG25
...,...,...,...,...,...,...
9995,CTID25037573,NaN,10-Jun-16,9157-2802-8374-1145,44280,SEG18
9996,CTID43832298,NaN,23-May-16,7416-4529-6690-5703,27163,SEG12
9997,CTID56532072,NaN,6-Aug-16,6699-2639-4522-6219,36424,SEG13
9998,CTID88101446,NaN,10-Oct-16,8341-5263-4582-7396,8464,SEG14
9999,CTID64730271,NaN,18-Jun-16,1947-8602-1695-7503,7606,SEG15

In [15]:
transactions.shape

(10000, 5)

In [16]:
fraud.shape

(109, 2)

This tell us that there is a relationship one-to-many between `fraud` and `transactions`


**Question 4**

[Harder] Perform a filtering join between cards and transactions so that only the card details for cards that have made at least one transaction are preserved.

Hint: semi is not an allowed option for how in .merge(). You'll need to think about the process of a semi join and then perform each step.